*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;

}
nav{
    padding: 0 140px;
    background: rgb(56, 52, 52);
    height: 75px;
    width: 100%;
}
.logo{
    display: inline-block;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.logop{
    color: white;
    font-size: 10px;
    line-height: 0px;
    padding: 0 100px;

}
nav ul{
    padding: 0 80px;
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:auto

}
nav ul li a{
    color: white;
    padding: 7px 8px;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
}
a:hover{
    background: black;
   }
.content{
    margin: auto;
    width: 65%;
    height: 200px;
    text-align: center;
    font-size: 100px;
padding-top: 40px;
    background: rgb(56, 52, 52);
}
.size{
    text-align: center;
    padding-top: ;
}
.one{
    display:inline-block;
    margin: auto;
    /* float: left; */
    height: 165px;
    width: 30%;
    background: rgb(56, 52, 52);
}
.two{
    margin-left: 300px;
    display:inline-block;
    margin: auto;
    height: 165px;
    width: 30%;
    background: rgb(56, 52, 52);

}
.three{
    display:inline-block;
    margin: auto;
    /* float: right; */
    height: 165px;
    width: 30%;
    background: rgb(56, 52, 52);
}
.container{
    width: 71.3%;
    margin-left: 240px;
}
.one p,.two p,.three p{
    padding: 60px;
    text-align: center;
    font-size: 40px;
}
.paragraph{
    width: 71.3%;
    margin-left:250px ;

}
.p1{
    display: inline-block;
    margin: auto;
    height: 165px;
    width: 28%;
    color: black;
    padding-top: 10px;
    margin-left: 00px;
}
.p2{
    display: inline-block;
    margin: auto;
    height: 165px;
    width: 28%;
    color: black;
    padding-top: 10px;
    margin-left: 13px;
}
.p3{
    display: inline-block;
    margin: auto;
    height: 165px;
    width: 28%;
    color: black;
    padding-top: 10px;
    margin-left: 22px;
}
.leftdiv{
    float: right;
    margin-right: 100px;
    background-color: rgb(56, 52, 52);
    height: 200px;
    width: 40%;
   padding: 10px;
   margin-bottom: 10px;
}
.leftdivsiz{
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}
.ritcont{
    margin-bottom: 10px;
    float: left;
    padding-left: 250px;
    height: 200px;
    width: 50%;
}
.p1 a{
    color: orange;
    float: right;
    font-size: 10px;
}
.p2 a{
    color: orange;
    float: right;
    font-size: 10px;
}
.p3 a{
    color: orange;
    float: right;
    font-size: 10px;
}
.ritcont a{
    color: orange;
    float: right;
    font-size: 10px;

}
.foot{
    clear: both;
    background-color: rgb(56, 52, 52);
    width: 100%;
    height: 100%;
    margin-top: 20px;
    /* padding: 3%; */
}
.futr {
    /* margin: 20px; */
    width: 100%;
    margin-left: 200px;
    color: white;
    

}
.six{
    display: inline-block;
    padding: 5px;
    /* padding: left 50px; */
    margin-left: 40px;
    

}
.seven{
    display: inline-block;
    padding: 5px;
    margin-left: 140px;
}
.eight{
    display: inline-block;
    padding: 5px;
    margin-left: 170px;
}
.nine{
    display: inline-block;
    padding: 5px;
    margin-left: 150px;
}
.eight a{
    display: block;
    color: orange;
}
.nine a{
    display: block;
    color: orange;
}
.seven a{
    display: block;
    color: orange;
}
.six a{
    display: block;
    color: orange;
}
.six a hr{
    color: orange;
}
.end{
    width: 100%;
    height: 30px;
    background-color: rgb(39, 34, 34);
    color: white;
    font-size: 6;

}
.endlink{
    display: inline-block;
    font-size: 8px;
    margin-left: 240px;
    font-weight: bold;
}
.endright{
    /* display: inline-block; */
    /* margin-right: 50px; */
    color: white;
    float: right;
    margin-right: 260px;
    font-size: 8px;
    font-weight: bold;
    margin-top: 7px;
}